@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 pt-2 d-flex flex-column">
            <div class="title">
                <h2>
                    "Building Brighter Futures through Efficient Management and Empowering Learning Experiences."
                </h2>
                <br />
                <h4>
                    Student Management System
                </h4>       
            </div>
            <div class="mt-auto">
                <button class="btn btn-outline-info  btn-lg text-danger" ><a asp-action="Students" asp-controller="Student" asp-area="">Students</a></button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/img/studentheropage.jpg" width="100%" height="auto" />
        </div>
    </div>
</div>
